# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Local
.local/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.env.local

node_modules
.env

# Hardhat files
/app/hardhat/cache
/app/hardhat/artifacts

# TypeChain files
/app/hardhat/typechain
/app/hardhat/typechain-types

# solidity-coverage files
/app/hardhat/coverage
/app/hardhat/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/app/hardhat/ignition/deployments/chain-31337

# Android
/android/

# iOS
/ios/

# Web
/web/